# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
hr-monitor-ble-server
bin/
__debug_bin*

# Compiled object files
*.o
*.a
*.out
*.log

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/*
!.vscode/launch.json
*.iml

# OS
.DS_Store
*~

# Environment
.env
